@model IEnumerable<YazLab.Models.BasvuruModel.Ime>
@{
    ViewBag.Title = "ImeOnayBekleyenler";
    Layout = "~/Views/Shared/_Komisyon.cshtml";
}

@using (Html.BeginForm())
{


    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <!-- Left col -->
                    <section>

                        <table class="table" style="width:65rem; margin:auto">

                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Ad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Soyad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImeDonem)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImeBaslangicTarihi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImeBitisTarihi)
                                </th>
                                <th>
                                    İME Başvurusu
                                </th>
                                <th></th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @item.Ad
                                    </td>
                                    <td>
                                        @item.Soyad
                                    </td>
                                    <td>
                                        @item.ImeDonem
                                    </td>
                                    <td>
                                        @item.ImeBaslangicTarihi
                                    </td>
                                    <td>
                                        @item.ImeBitisTarihi
                                    </td>
                                    <td>
                                        @Html.ActionLink("IME Başvuru", "ImeBasvurumPDF", "Ogrenci", new { id = item.Id }, new { @class = "btn btn-info" })
                                    </td>
                                    <td>
                                        <button id="onay" type="submit" name="id" value="@item.Id" class="btn btn-success">Onayla</button>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Reddet", "IMERed", "Komisyon", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>

                            }
                        </table>
                    </section>

                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
}