@model IEnumerable<YazLab.Models.BasvuruModel.Staj>
@{
    ViewBag.Title = "Staj2OnayBekleyenler";
    Layout = "~/Views/Shared/_Komisyon.cshtml";
}


@using (Html.BeginForm())
{


    <div class="content-wrapper">
        <h2>Staj1OnayBekleyenler</h2>
        <!-- Content Header (Page header) -->
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->

                <div class="row">
                    <h1>Komisyon!!</h1>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-7 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <!-- /.card -->
                        <!--/.direct-chat -->
                        <!-- TO DO List -->
                        <!-- /.card -->

                        <table class="table" style="width:65rem; margin:auto">

                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Ad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Soyad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StajTuru)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StajBaslangicTarihi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StajBitisTarihi)
                                </th>

                                <th>Durum</th>
                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr>

                                    <td>
                                        @item.Ad
                                    </td>
                                    <td>
                                        @item.Soyad
                                    </td>
                                    <td>
                                        @item.StajTuru
                                    </td>
                                    <td>
                                        @item.StajBaslangicTarihi
                                    </td>
                                    <td>
                                        @item.StajBitisTarihi
                                    </td>
                                    <td>

                                        <button type="submit" name="id" value="@item.Id" class="btn btn-success">Onayla</button>



                                    </td>
                                </tr>

                            }
                        </table>
                    </section>
                    
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
}