@model IEnumerable<YazLab.Models.BasvuruModel.Staj>
@{
    ViewBag.Title = "Staj2OnayBekleyenler";
    Layout = "~/Views/Shared/_Komisyon.cshtml";
}


@using (Html.BeginForm())
{


    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
               
                    <section class="col-lg-7 connectedSortable">


                        <table class="table" style="width:65rem; margin:auto">

                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Ad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Soyad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StajTuru)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StajBaslangicTarihi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StajBitisTarihi)
                                </th>
                                <th>
                                    Staj Başvurusu
                                </th>
                                <th></th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr>

                                    <td>
                                        @item.Ad
                                    </td>
                                    <td>
                                        @item.Soyad
                                    </td>
                                    <td>
                                        @item.StajTuru
                                    </td>
                                    <td>
                                        @item.StajBaslangicTarihi
                                    </td>
                                    <td>
                                        @item.StajBitisTarihi
                                    </td>
                                    <td>
                                        @Html.ActionLink("Staj Başvurusu", "StajBasvurumPDF", "Ogrenci", new { id = item.Id }, new { @class = "btn btn-info" })
                                    </td>
                                    <td>
                                        <button id="onay" type="submit" name="id" value="@item.Id" class="btn btn-success">Onayla</button>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Reddet", "Staj2Red", "Komisyon", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>

                            }
                        </table>
                    </section>
                    
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
}