@model YazLab.Models.BasvuruModel.Staj
@{
    ViewBag.Title = "StajBasvuru";
    Layout = "~/Views/Shared/_Ogrenci.cshtml";
}

<div class="content-wrapper">
    <div class="col-md-9">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Staj Başvurusu Yap</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Öğrenci Bilgileri", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:20px;font-weight:bold;text-decoration:underline;" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TC, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TC, new { htmlAttributes = new { @class = "form-control", @maxlenght = "11" } })
                            @Html.ValidationMessageFor(model => model.TC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TelefonNumarasi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TelefonNumarasi, new { htmlAttributes = new { @class = "form-control", @maxlenght = "11" } })
                            @Html.ValidationMessageFor(model => model.TelefonNumarasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StajTuru, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.StajTuru,"1") Staj1
                            @Html.RadioButtonFor(model => model.StajTuru, "2") Staj2
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StajBaslangicTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.StajBaslangicTarihi, new { @type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StajBaslangicTarihi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StajBitisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.StajBitisTarihi, new { @type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StajBitisTarihi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsGunu, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IsGunu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IsGunu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.GenelSaglikSigortasi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.GenelSaglikSigortasi, "Evet") Evet
                            @Html.RadioButtonFor(model => model.GenelSaglikSigortasi, "Hayir") Hayır
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.YasDoldurma, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.YasDoldurma, "Evet") Evet
                            @Html.RadioButtonFor(model => model.YasDoldurma, "Hayir") Hayır
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Firma Bilgileri", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:20px;font-weight:bold;text-decoration:underline;" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirmaAd, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirmaAd, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirmaAd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirmaFaaliyetAlani, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirmaFaaliyetAlani, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirmaFaaliyetAlani, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirmaAdres, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirmaAdres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirmaAdres, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirmaTelefon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirmaTelefon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirmaTelefon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Kayıt Ekle</button>
                </div>
            }
        </div>
    </div>
</div>